@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);

.comment {
    width: calc((100% - 38px) / 3);
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .comment {  
        width: 100%;
        margin-top: 48px;
    }
}
@media screen and (max-width: 350px) {
    .comment {  
        margin-top: 40px;
    }
}
