.lead__title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: auto;
    width: 720px;
    font-size: 96px;
    line-height: 92px;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;    
}

@media screen and (max-width: 767px) {
    .lead__title {  
        width: 280px;
        font-size: 40px;
        line-height:  44px;  
    }
}