.place__title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 72px;
    line-height: 65px;
    font-weight: 900;
    text-align: left;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none; 
}
@media screen and (max-width: 860px) {
    .place__title {
        width: calc(100% - 20px);
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 600px) {
    .place__title {
        padding-left: 16px;
    }
}
@media screen and (max-width: 425px) {
    .place__title {
        width: calc(100%-16px);
        font-size: 32px;
        line-height: 35px;
    }
}